body{
    margin-left: 70px;
}
.first-part{
    display: flex;
    margin-bottom: 10px;
}

#blue-text{
    color: rgb(114, 187, 187);
}
.text-style{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    padding-left: 2px;
    line-height: 80%;
    
}
#side-border{
    border-left: 7px solid;
    padding-left: 2%;
    border-color: rgb(50, 221, 50);
    border-image-slice: 1;
    border-width: 4px;
    height: 120px;
}
.half-width{
    width: 60%;
    padding-left: 5%;
    padding-right: 5%; 
}
.half-width img{
    width: 100%;
    height: 60%;
    padding-left: 10%;
    padding-top: 0%;
}
.bodypart-one{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(rgb(156, 156, 238), rgb(71, 218, 255));
    padding: 12px 45px;
    border-radius: 30px;
    color: white;
    font-weight: 900px;   
}
p{
    text-align: justify;
}
#blue-word{
    color: rgb(114, 187, 187);  
}
.second-part{
    font-family: 'Poppins', sans-serif;
}
.bold-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 900px;
}
.second-itemone{
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 15px;
    background-color: rgb(247, 135, 115);
}
h3{
    font-size: 22px;
}
.text-size{
    font-size: 15px;
}
.second-itemone img{
    width: 50%;
    height: 50%;
}
.second-itemtwo{
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 15px;
    background-color: rgb(214, 247, 126);
}
.second-itemtwo img{
    width: 50%;
    height: 50%;
}
.second-itemthree{
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 15px;
    background-color: rgb(247, 126, 221);
}
.second-itemthree img{
    width: 50%;
    height: 50%;
}
.second-area{
    display: flex;
}